.poem
  %p Poetrybin is a project inspired by <a href="http://ntlk.net/images/6412166473_b1a80262ce_o.png">this tweet</a>. You can only post poems anonymously, and you can't edit or delete them.
  %p Made by <a href="http://twitter.com/ntlk">ntlk</a>.
