.poem
  %p Poetrybin is a project inspired by <a href="https://twitter.com/#!/unhaunting/status/139422971172368384">this tweet</a>. You can only post poems anonymously, and you can't edit or delete them.
  %p Made by <a href="http://twitter.com/ntlk">ntlk</a>.
